*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f1f1; 
}
/* Navabr Section */

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #08003a;
}

.logo {
padding: 0 10%;
}

.logo img {
width: 6em;
}

.nav-link {
display: flex;
font-size: 20px;
padding: 0 0 0 40%;
}

.nav-link li {
list-style: none;
position: relative;
padding: 0 8px 0 5px;
display: inline-block;
}

.nav-link li a {
text-decoration: none;
color: white;
}

i.fa-solid{
    color: white;
}

.nav-link .login{
    padding: 7px;
}

.nav-link .signup{
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 25px;
}

.nav-link .signup:hover{
    background-color: #3d3286;
    opacity: 10;
}

/* Main Section */
.main{
    position: relative;
    top: 9rem;
    left: 14rem;
}

.url-box-container{
    background-color: white;
    height: 512px;
    width: 72%;
    border-radius: 9px;
    align-content: center;
    box-shadow: 0px 0px 4px -1px #c9bbbb;
}

.url-box{
    margin-left: 54px;
}
.url-box input{
    width: 94%;
    border-radius: 4px;
    padding: 11px;
    margin-right: 4px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid grey;
}

/* Categories section */
.categories {
    margin-top: 20px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .category {
    background-color: #08003a;
    color: white;
    padding: 12px 18px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
  }
  
  /* Hover effect for normal categories */
  .category:hover {
    background-color: #3d3286;
  }
  
  /* Selected categories will have a different background and text color */
  .category.selected {
    background-color: #b068dc; /* Different background color */
    color: #08003a; /* Different text color */
    border: 1px solid #3d3286; /* Border color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Shadow effect */
  }

.btn{
    border: 1px solid white;
    width: 13%;
    height: 43px;
    border-radius: 13px;
    padding: 7px;
    background-color: #08003a;
    color: white;
    text-align: center;
    margin: 21px 0px 0px 44%;
    font-size: 24px;
}

.btn:hover{
    cursor: pointer;
    background-color: #3d3286;
}

.prompt{
    margin-left: 54px;
    margin-top: 19px;
}
.prompt textarea{
   width: 94%;
   height: 184px;
   border-radius: 4px;
   padding: 11px;
   font-size: 24px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: 1px solid grey;
}