{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Opinimate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="./static/css/style.css" />


</head>

<body>
  <header>
    <navbar class="navbar">
      <div class="logo">
        <img src="./static/images/opinimate-bg.png" />
      </div>

      <ul class="nav-link">
        <div class="login">
          <i class="fa-solid fa-unlock"></i>
          <li><a href="/login/">Login</a></li>
        </div>

        <div class="signup">
          <i class="fa-solid fa-circle-user"></i>
          <li><a href="/signup/">SignUp</a></li>
        </div>
      </ul>
    </navbar>
  </header>

  <Section class="main">
    <div class="url-box-container">
      <form method="POST" action="{% url 'result' %}"></form>
      <div class="url-box">
        <input type="text" placeholder="Enter youtube URL">
      </div>

       <!-- Category Section -->
    <section class="categories">
      <div class="category-container">
        <span class="category">Technology</span>
        <span class="category">Education</span>
        <span class="category">Ecommerce</span>
        <span class="category">Live Vlogs</span>
        <span class="category">Movies</span>
        <span class="category">Web Series</span>
        <span class="category">Fitness</span>
        <span class="category">Gym</span>
        <span class="category">Music Videos</span>
        <span class="category">Tutorials and How-Tos</span>
        <span class="category">Gaming Streams</span>
        <span class="category">Travel Vlogs</span>
        <span class="category">Comedy</span>
        <span class="category">Unboxing Videos</span>
      </div>
    </section>

      <div class="prompt">
        <textarea placeholder="What are you looking for in this video..."></textarea>
      </div>

      <div>
        <button type="submit" id="btn" class="btn">Analyze</button>
      </div>
      </form>
    </div>
  </Section>

  <script src="{% static 'js/main.js' %}"></script>
  <script>document.addEventListener("DOMContentLoaded", function() {
    // Select all the category elements
    const categories = document.querySelectorAll('.category');
    
    // Add click event listener to each category
    categories.forEach((category) => {
        category.addEventListener('click', function() {
            // Toggle the 'selected' class when clicked
            this.classList.toggle('selected');
        });
    });
});
</script>
</body>

</html>